.viewBox {
	padding: 0 32rpx;
	.box {
		display: flex;
		flex-direction: column;
		gap: 23rpx;

		.box-item {
			font-weight: 400;
			font-size: 28rpx;
			color: #ffffff;
			padding: 46rpx 32rpx;
			background: #18181a;
			border-radius: 24rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
