.box {
	margin: 32rpx 0;
	.box-item {
		margin: 16rpx 32rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 28rpx;
		color: #ffffff;
		padding: 46rpx 32rpx;
		background: #18181a;
		border-radius: 24rpx;
	}
}
