.home-container {
	width: 100vw;
}
// 标题
.header {
	padding: 12rpx 32rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header-left-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 278rpx;
		height: 64rpx;
	}
	.header-right-message {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40rpx;
		height: 40rpx;
		position: relative;
		.badge {
			position: absolute;
			top: 0;
			right: 0;
			.red {
				color: #ff0000;
			}
		}
	}
}
// 资产
.assets {
	padding: 32rpx;

	.assets-title {
		display: flex;
		align-items: center;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 30rpx;
		color: #ffffff;
		.assets-select {
			padding: 8rpx 20rpx;
			border-radius: 40rpx;
			margin-left: 28rpx;
			border: 1px solid #353548;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			font-size: 12px;
			.select-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 24rpx;
				height: 24rpx;
				margin-left: 8rpx;
			}
		}
	}
	.assets-approximately {
		font-family: Helvetica, Helvetica;
		font-weight: bold;
		font-size: 64rpx;
		color: #ffffff;
		margin: 44rpx 0 36rpx;
	}
	.assets-exchange-approximately {
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 24rpx;
		color: #646479;
	}
}
// 卡片展示
.cardDisplay {
	width: 686rpx;
	height: 390rpx;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	.cardDisplay-cardist {
		position: absolute;
		top: 80rpx;
		right: 32rpx;
		padding: 12rpx 16rpx;
		background: #ffffff17;
		border-radius: 40rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 500;
		font-size: 24rpx;
		color: #ffffff;
		display: flex;
		align-items: center;
		.cardDisplay-cardist-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24rpx;
			height: 24rpx;
			margin-left: 8rpx;
		}
	}
}
.cardDisplayBg {
	background-image: url('@/static/image/index/card.png');
}
.cardDisplayBgNull {
	background-image: url('@/static/image/index/cardNull.png');
}
// 增资 钱包 卡片申请入口
.wallet {
	margin: 32rpx 32rpx 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	> view {
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 28rpx;
		color: #ffffff;
	}
	.valueAddedIcon {
		background-image: url('@/static/image/index/valueAddedIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.valueAddedIconNull {
		background-image: url('@/static/image/index/valueAddedIconNull.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.walletIcon {
		background-image: url('@/static/image/index/walletIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.cardIcon {
		background-image: url('@/static/image/index/cardIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.cardIconNull {
		background-image: url('@/static/image/index/cardIconNull.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.wallet1 {
	> view {
		display: flex;
		justify-content: center;
		width: 180rpx;
		height: 160rpx;
		position: relative;
		view {
			display: block;
			position: absolute;
			bottom: 30rpx;
		}
	}
}
.wallet2 {
	> view {
		display: flex;
		justify-content: center;
		align-content: center;
		width: 330rpx;
		padding: 26rpx 0;
		> view:first-child {
			display: flex;
			justify-content: center;
			align-content: center;
			width: 48rpx;
			height: 36rpx;
			margin-right: 24rpx;
			margin-top: 2rpx;
		}
	}
}
// 介绍
.introduce {
	margin: 32rpx 32rpx 0;
	padding: 8rpx 24rpx;
	background: linear-gradient(179deg, rgba(102, 102, 129, 0.1) 0%, rgba(54, 54, 74, 0.1) 100%);
	border-radius: 24rpx;
	border: 1rpx solid #97979747;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: PingFangSC, PingFang SC;
	font-weight: 400;
	font-size: 28rpx;
	color: #ffffff;

	.introduce-left {
		.introduce-left-icon {
			width: 278rpx;
			height: 64rpx;
		}
		.introduce-left-txt {
			margin-top: 16rpx;
		}
	}

	.introduce-right {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 202rpx;
		height: 146rpx;
	}
}
// 交易记录
.transactionRecords {
	font-family: PingFangSC, PingFang SC;
	font-weight: 500;
	font-size: 30rpx;
	color: #ffffff;
	margin: 32rpx 32rpx 0;
	padding-bottom: 6rpx;
	.transactionRecords-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 12rpx;
		.transactionRecords-title-right {
			font-weight: 400;
			font-size: 24rpx;
		}
		// 吸顶核心样式
		&.sticky {
			background: #0f0f0f;
			box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.5);
		}
	}
	.transactionRecords-list {
		.transactionRecords-item {
			margin: 12rpx 0;
			padding: 32rpx 24rpx;
			background: #16171a;
			border-radius: 24rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.transactionRecords-item-left {
				.transactionRecords-item-time {
					font-weight: 400;
					font-size: 24rpx;
					color: #646479;
					margin-top: 16rpx;
				}
			}
			.transactionRecords-item-right {
				font-weight: 500;
				font-size: 36rpx;
				color: #ff0707;
			}
		}
	}
	.emty {
		margin: 90rpx auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.emtyIcon {
			width: 222rpx;
			height: 142rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 24rpx;
		}
	}
}
// 卡片弹窗
.cardpopup {
	width: 750rpx;
	padding-bottom: 24rpx;
	background: #0f0f0f;

	.cardpopup-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26rpx 0;
		margin-bottom: 8rpx;
		border-radius: 32rpx 32rpx 0rpx 0rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 600;
		font-size: 36rpx;
		color: #ffffff;

		.closure {
			width: 40rpx;
			height: 40rpx;
			margin-left: 32rpx;
		}
	}

	.cardpopup-list {
		.cardpopup-item {
			width: 686rpx;
			height: 280rpx;
			margin: 24rpx 32rpx;
			position: relative;
			font-family: SFMono, SFMono;
			color: #ffffff;
			font-weight: 600;
			.cardpopup-cardNumber {
				position: absolute;
				left: 36rpx;
				bottom: 96rpx;
				font-size: 36rpx;
				letter-spacing: 3px;
				span {
					margin-right: 32rpx;
				}
			}
			.cardpopup-time {
				position: absolute;
				left: 36rpx;
				bottom: 36rpx;
				font-size: 24rpx;
				font-style: normal;
			}
			.physicalCard {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 200rpx;
				height: 64rpx;
				line-height: 64rpx;
				text-align: center;
				font-family: PingFangSC, PingFang SC;
				font-weight: 600;
				font-size: 32rpx;
				color: #48453d;
				letter-spacing: 3px;
				font-style: normal;
			}
		}
		.cardpopup-item-bg1 {
			background: url('@/static/image/index/cardicon1.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.cardpopup-item-bg2 {
			background: url('@/static/image/index/cardicon2.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.cardpopup-item-bg3 {
			background: url('@/static/image/index/cardicon3.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.cardpopup-item-bg4 {
			background: url('@/static/image/index/cardicon4.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
// 是否申请卡片
.applyModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: PingFangSC, PingFang SC;
	color: #ffffff;
	> view {
		border: 0 !important;
	}

	.applyModal-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 36rpx;
		> view:first-child {
			margin-right: 24rpx;
		}
	}
	.applyModal-txt {
		font-weight: 400;
		font-size: 30rpx;
		margin: 64rpx 0 90rpx;
	}
	.applyModal-button {
		display: flex;
		justify-content: center;
		> view {
			width: 252rpx;
			padding: 28rpx 0;
			text-align: center;
			font-weight: 400;
			font-size: 32rpx;
			border-radius: 24rpx;
			margin: 0 16rpx;
		}
		.cancel {
			background: #868686;
		}
		.apply {
			background: #1e3ad6;
		}
	}
}
