.home-container {
	width: 100vw;
}
// 标题
.header {
	position: sticky;
	background: #0f0f0f;
	padding: 12rpx 32rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	.header-left-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 278rpx;
		height: 64rpx;
	}
	.header-right-message {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40rpx;
		height: 40rpx;
		position: relative;
		.badge {
			position: absolute;
			top: 0;
			right: 0;
			.red {
				color: #ff0000;
			}
		}
	}
}
// 资产
.assets {
	padding: 32rpx;

	.assets-title {
		display: flex;
		align-items: center;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 30rpx;
		color: #ffffff;
		.assets-select {
			padding: 8rpx 20rpx;
			border-radius: 40rpx;
			margin-left: 28rpx;
			border: 1px solid #353548;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			font-size: 12px;
			.select-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 24rpx;
				height: 24rpx;
				margin-left: 8rpx;
			}
		}
	}
	.assets-approximately {
		font-family: Helvetica, Helvetica;
		font-weight: bold;
		font-size: 64rpx;
		color: #ffffff;
		margin: 44rpx 0 36rpx;
	}
	.assets-exchange-approximately {
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 24rpx;
		color: #646479;
	}
}
// 卡片展示
.cardDisplay {
	width: 686rpx;
	height: 390rpx;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	.cardDisplay-cardist {
		position: absolute;
		top: 80rpx;
		right: 32rpx;
		padding: 12rpx 16rpx;
		background: #ffffff17;
		border-radius: 40rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 500;
		font-size: 24rpx;
		color: #ffffff;
		display: flex;
		align-items: center;
		.cardDisplay-cardist-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24rpx;
			height: 24rpx;
			margin-left: 8rpx;
		}
	}
}
.cardDisplayBg {
	background-image: url('@/static/image/index/card.png');
}
.cardDisplayBgNull {
	background-image: url('@/static/image/index/cardNull.png');
	.cardDisplayBgNull-txt {
		position: absolute;
		top: 260rpx;
		width: 100%;
		text-align: center;
		font-family: Helvetica, Helvetica;
		font-weight: bold;
		font-size: 40rpx;
		letter-spacing: 4rpx;
		color: #ffffff;
		// @font-face {
		// 	font-family: '阿里妈妈方圆体 VF Regular';
		// 	src: url('//at.alicdn.com/wf/webfont/KtSTnfPmhfKv/gaydv0RnBDda.woff2') format('woff2'), url('//at.alicdn.com/wf/webfont/KtSTnfPmhfKv/yMFN9YTpINBt.woff') format('woff');
		// 	font-variation-settings: 'BEVL' 1, 'wght' 200;
		// 	font-display: swap;
		// }
	}
}
// 增资 钱包 卡片申请入口
.wallet {
	margin: 32rpx 32rpx 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	> view {
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
		font-size: 28rpx;
		color: #ffffff;
	}
	.valueAddedIcon {
		background-image: url('@/static/image/index/valueAddedIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.valueAddedIconNull {
		background-image: url('@/static/image/index/valueAddedIconNull.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.walletIcon {
		background-image: url('@/static/image/index/walletIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.cardIcon {
		background-image: url('@/static/image/index/cardIcon.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.cardIconNull {
		background-image: url('@/static/image/index/cardIconNull.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.wallet1 {
	> view {
		display: flex;
		justify-content: center;
		width: 200rpx;
		height: 160rpx;
		position: relative;
		.svg {
			position: absolute;
			top: 36rpx;
		}
		span {
			display: block;
			position: absolute;
			top: 96rpx;
		}
	}
}
.wallet2 {
	> view {
		display: flex;
		justify-content: center;
		align-content: center;
		width: 330rpx;
		padding: 26rpx 0;
		> view:first-child {
			display: flex;
			justify-content: center;
			align-content: center;
			width: 48rpx;
			height: 36rpx;
			margin-right: 24rpx;
			/* #ifdef APP */
			margin-top: -4rpx;
			/* #endif */
		}
	}
}
// 介绍
.introduce {
	margin: 32rpx 32rpx 0;
	padding: 8rpx 24rpx;
	background: linear-gradient(179deg, rgba(102, 102, 129, 0.1) 0%, rgba(54, 54, 74, 0.1) 100%);
	border-radius: 24rpx;
	border: 1rpx solid #97979747;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: PingFangSC, PingFang SC;
	font-weight: 400;
	font-size: 28rpx;
	color: #ffffff;

	.introduce-left {
		.introduce-left-icon {
			width: 278rpx;
			height: 64rpx;
		}
		.introduce-left-txt {
			margin-top: 16rpx;
		}
	}

	.introduce-right {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 202rpx;
		height: 146rpx;
	}
}
// 交易记录
.transactionRecords {
	font-family: PingFangSC, PingFang SC;
	font-weight: 500;
	font-size: 30rpx;
	color: #ffffff;
	margin: 0rpx 32rpx;
	.transactionRecords-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 12rpx;
		padding: 32rpx 0 6rpx;
		.transactionRecords-title-right {
			font-weight: 400;
			font-size: 24rpx;
		}
		// 吸顶核心样式
		&.sticky {
			background: #0f0f0f;
			box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.5);
		}
	}
}
// 卡片弹窗
.cardpopup {
	width: 750rpx;
	padding-bottom: 24rpx;
	background: #0f0f0f;

	.cardpopup-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26rpx 0;
		margin-bottom: 8rpx;
		border-radius: 32rpx 32rpx 0rpx 0rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 600;
		font-size: 36rpx;
		color: #ffffff;

		.closure {
			width: 40rpx;
			height: 40rpx;
			margin-left: 32rpx;
		}
	}
}
// 是否申请卡片
.applyModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: PingFangSC, PingFang SC;
	color: #ffffff;
	> view {
		border: 0 !important;
	}

	.applyModal-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 36rpx;
		column-gap: 24rpx;
		.svg-icon {
			/* #ifdef APP */
			margin-top: 5rpx;
			/* #endif */
			/* #ifdef H5 */
			margin-top: -5rpx;
			/* #endif */
		}
	}
	.applyModal-txt {
		font-weight: 400;
		font-size: 30rpx;
		margin: 64rpx 0 90rpx;
	}
	.applyModal-button {
		display: flex;
		justify-content: center;
		> view {
			width: 252rpx;
			padding: 28rpx 0;
			text-align: center;
			font-weight: 400;
			font-size: 32rpx;
			border-radius: 24rpx;
			margin: 0 16rpx;
		}
		.cancel {
			background: #868686;
		}
		.apply {
			background: #1e3ad6;
		}
	}
}
