.nav {
	width: 100vw;
	height: 88rpx;
}
.button {
	position: fixed;
	left: 32rpx;
	right: 32rpx;
	bottom: 32rpx;
	width: 686rpx;
	height: 88rpx;
	background: #1e3ad6;
	border-radius: 44rpx;
	font-family: PingFangSC, PingFang SC;
	font-weight: 500;
	font-size: 32rpx;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
