.registerContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	.topBg {
		width: 750rpx;
		height: 580rpx;
		background: url('@/static/image/loginBg.png');
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		.logo {
			width: 160rpx;
			height: 160rpx;
		}
		.logo-title {
			margin: 32rpx 0 0;
			text-align: center;
			font-family: PingFangSC, PingFang SC;
			font-weight: 600;
			font-size: 36rpx;
			color: #ffffff;
		}
		.svgClass {
			position: absolute;
			/* #ifdef APP */
			top: 112rpx;
			/* #endif */
			/* #ifdef H5 */
			top: 36rpx;
			/* #endif */
			left: 32rpx;
		}
	}
}

.registerBox {
	width: 100vw;
	background: #ffffff;
	border-radius: 48rpx 48rpx 0rpx 0rpx;
	padding: 48rpx 48rpx 30rpx 48rpx;
	flex: 1;
	display: flex;
	flex-direction: column;
	.registerForm {
		display: flex;
		flex-direction: column;
		row-gap: 50rpx;
		flex: 1;
		.box-title {
			font-family: PingFangSC, PingFang SC;
			font-weight: 500;
			font-size: 40rpx;
			color: #333333;
		}
		.input-box {
			background: #ffffff;
			border-radius: 24rpx;
			border: 2rpx solid #e5e6e8;
			padding: 30rpx 24rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				flex: 1;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				font-size: 30rpx;
				padding: 0 24rpx;
			}
		}

		.small-input {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.input-box {
				margin: 0;
			}
			.small-input-button {
				width: 246rpx;
				height: 100rpx;
				line-height: 100rpx;
				text-align: center;
				background: #101114;
				border-radius: 24rpx;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				font-size: 32rpx;
				color: #ffffff;
				margin-left: 24rpx;
			}
		}
	}

	.buttonArea {
		max-height: 250rpx;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		.loginBtton {
			width: 654rpx;
			height: 100rpx;
			line-height: 100rpx;
			text-align: center;
			background: #020202;
			border-radius: 50rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 500;
			font-size: 36rpx;
			color: #ffffff;
		}
		.xieyi {
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			font-size: 28rpx;
			color: #cccccc;
			display: flex;
			align-items: center;
			gap: 10rpx;
			span {
				color: #020202;
			}
		}
	}
}

.applyModal {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: PingFangSC, PingFang SC;
	color: #ffffff;

	.applyModal-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 36rpx;
		column-gap: 24rpx;
	}

	.applyModal-input {
		width: 536rpx;
		border-radius: 24rpx;
		border: 1rpx solid #979797;
		margin: 36rpx 0rpx 60rpx;
		padding: 32rpx 32rpx;
		input {
			flex: 1;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			font-size: 30rpx;
		}
	}

	.applyModal-button {
		display: flex;
		justify-content: space-between;
		width: 100%;

		> view {
			width: 252rpx;
			padding: 28rpx 0;
			text-align: center;
			font-weight: 400;
			font-size: 32rpx;
			border-radius: 24rpx;
		}

		.cancel {
			background: #868686;
		}

		.apply {
			background: #1e3ad6;
		}
	}
}
